@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  font-family: "Montserrat";
}
.buttonCall {
  border-radius: 20px;
}
.logo {
  width: 50%;
}

.nav {
  height: 10vh !important;
  
  /* border-bottom: 10px black solid; */
}

.brand-logo {
  text-align: center;

  position: absolute;
  left:50%;
  transform: translateX(-50%);
}
.navButtons {
  margin-top: 16px;
}
.title {
  color: black;
  /* margin-top: 100px; */
  /* position: absolute;
    top:50%;
    transform: translateY(-50%); */
  font-size: 3rem;
  font-weight: 600;
  margin: 0 auto;
}
.upper {
  /* height:10vh; */
  margin-top: 80px;
  text-align: center;
  margin-bottom: 60px;
}
.outerCards {
  text-align: center;
}
.offerings {
  text-align: center;
}
.miniTitle {
  color: black;
  /* margin-top: 100px; */
  /* position: absolute;
    top:50%;
    transform: translateY(-50%); */
  font-size: 2.5rem;
  font-weight: 600;
  /* margin-bottom: 300px; */
  /* margin:0 auto; */
}
.text {
  padding-top: 60px;
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.AboutUs {
  text-align: center;
  /* height:30vh; */
  padding-top: 60px;
  padding-bottom: 10px;
  background-color: rgb(220, 220, 220, 0.3);
}
.slider1 {
  height: 60vh !important  ;
}

.rowAboutUs {
  width: 40vw;
}

.testimonials{
  background-color: white;
}
.slider2s{
    background-color: transparent !important;
    padding-bottom: 30px;
}
.caption{
    font-weight: 600;
    margin-top: 30px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .contactUs{
  background-color: rgb(220, 220, 220, 0.3);
    text-align: center;
    /* margin: 0 auto; */
  }
  .submitContactUS{
      border-radius: 60px;
  }
  .subText{
      margin-top:20px;
      padding-top: 40px;
  }
  .footerButton{
    border-radius:40px;
  }





  @media only screen and ( max-width:770px) {
    .text {
      font-size: 1rem;
      
  
      
    }
    .nav {
      height: 12vh !important;
      
      /* border-bottom: 10px black solid; */
    }
    .testimonialtext{
      font-size: 1rem;
    }
    .box{
      text-align: center;
    }
    .card-title{
      font-size: 1.1rem !important;
    }
  } 